* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

header {
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

header > nav > .side {
    display: inherit;
    align-items: center;
    gap: 20px;
}

header > nav > .side > p {
    transition: 0.3s;
}

header > nav > .side > p:hover {
    font-weight: 700;
}

#header-block {
    margin-top: 88px;
}
